<div class="nav">
    <div class="wrap">
        <div class="nav_top"></div>
        <div class="nav_menu">
            <ul>
                <li>
                    <a href="/news/" class="hover"><strong>>> 媒体报道</strong></a>
                </li>
            </ul>
        </div>
        <div class="nav_menu">
            <ul>
                <li>
                    <a href="/industry-news/" class="hover">>> 行业动态</a>
                </li>
            </ul>
        </div>
        <div class="nav_bottom">
            <div class="fuwurexian">
                <div class="yizongguan" >
                    <div><span class="icon-1"></span><span><strong> 医总管</strong></span></div>
                    <div class="phone_number">让医疗健康触手可及</div>
                </div>
                <div class="yizongguan-1"><div><span class="icon"></span><span><strong>服务热线：</strong></span></div>
                    <div class="phone_number"> 028-87770007</div>  </div>
            </div>
        </div>
    </div>
</div>