<!-- 继承模板 base.html -->
{% extends "health/base.html" %}
{% load staticfiles %}

{% block title %}新闻资讯{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'health/css/service_platform.css' %}">
<link rel="stylesheet" href="{% static 'health/css/policy_advisory_list.css' %}">
<style>
    .intro-box,
    .intro-title  {
        padding: 0;
    }
    .intro-box .intro-content {
        padding: 0;
    }
</style>
{% endblock %}

<!-- 主体部分 -->
{% block banner %}
    <div class="img">
        <img src='{% static "health/images/banner-news.jpg" %}'>
    </div>
{% endblock %}

{% block service-box %}
<div class="main">
    <div class="nav_bar">
        {% include "health/nav.html" %}
    </div>
    <div class="list-box">
        <div class="policy_advisory-box">
            <!-- article list -->
            {% for item in industry_list %}
            <div class="float policy_advisory-item">
                <div class="left">
                    <div class="policy_advisory-icon"><img src="{% static item.image %}" width="200" height="120" /></div>
                </div>
                <div class="left">
                    <a href="{% url 'industry' item.id %}" target="_blank">
                        <div class="policy_advisory-info">
                            <div class="float policy_advisory-title">
                                <div class="left policy_advisory-name">
                                  <h3><strong>{{ item.title }}</strong></h3>
                                </div>
                            </div>
                            <div class="policy_advisory-desc">
                                <p>{{ item.desc }}</p>
                            </div>
                            <div class="policy_advisory-date">
                                <span>{{ item.pub_date }}</span>
                            </div>
                        </div></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--
        <div class="industry-page">
            <div class="page_control">
                <a href="/news/"><< 首页</a>
                <a href="service-news.html"><< 上一页</a>
                <a href="service-news.html" class="hover"> 1</a>
                <a href="service-news-two.html" >2</a>
                <a href="service-news-two.html">下一页 >></a>
                <a href="service-news-two.html">末页 >></a>
            </div>
        </div>
        -->
    </div>
</div>

{% endblock %}