
#pic{list-style: none;}
#pic li{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: none;
	overflow: hidden;
    }
#num{
    position: relative;
    left: 50%;
    top: 430px;
    z-index: 1;
    cursor:default;
    list-style: none;
    }
#num li{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #666;
    margin: 5px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    }
#num li.active{background: white;}
/*----------box ---------*/
.video-box {
  background: #f3f8fb url("../images/bg-01.png") no-repeat;
}
.video-box .intro-title {
    text-align: center;
    padding: 15px 0;
}

.video-box .desc {
  width: 1100px;
  text-align: center;
  font-family: "Microsoft YaHei",微软雅黑, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #666666;
  letter-spacing: 0.5px;
  margin: 0 auto;
}
.video-box .video {
  padding: 30px 0 0 0;
  width: 900px;
  margin: 0 auto;
}

.together-box {
  margin: 0 -52px -40px -53px;;
}
.service-item {
  width: 330px;
  padding: 0 52px 20px 53px;
}
.service-item .intro {
    font-family: "Microsoft YaHei", sans-serif;
    background: #ffffff;
    height: 125px;
    text-align: center;
    font-weight: 500;
}
.service-item .text-title {
  padding: 15px 0;
  font-size: 16px;
  color: #666666;
}
.service-item .line {
    width: 90px;
    border: 1px solid #4ebcd0;
    margin: -10px auto 0 auto;
}
  
.service-item .text-ct {
    width: 300px;
    padding: 10px 20px 0 20px;
    line-height: 22px;
    margin: 0 auto;
    font-size: 14px;
    color: #333333;
}

