* {
	margin: 0;
	padding: 0;
}
a { 
    text-decoration: none;
}
img {
	width: auto;
	margin: auto;
}
body {
    background: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    min-width: 1200px;
}
.float .left {
  float: left;
}
.float .right {
  float: right;
}
.float:before,
.float:after {
  content: "";
  display: table;
}

.float:after {
  clear: both;
}
.float
 {
  *zoom: 1;
}

/*------ header -----*/
.header {
    width: 1200px;
    height:60px;
    margin: auto;
    padding: 20px 0;
    position: relative;
}
.header .logo {
  padding: 5px 0 0 15px;
}
.header .logo span {
  display: block;
  background: url("../images/logo.png");
  background-repeat: no-repeat ;
  width: 253px;
  height: 57px;
}
.header .nav-menu a {
    display: inline-block;
    width: 100px;
    line-height: 60px;
    text-align: center;
    color: #333333;
}
.header .nav-menu a:hover,
.header .nav-menu a.hover {
  background-color: #41afca;
  color: #ffffff;
}
/*------ banner -----*/
.banner {
    position: relative;
    width:100%;
    height: 470px;
    top: 0;
    overflow: hidden;
}
.banner .img {
  position: absolute;
  left: 50%;
  margin-left: -960px;
}
.banner .img,
.banner img {
  width: 1920px;
}
/*------ intro-box -----*/
.intro-box {
    padding-top: 60px;
    width: 1200px;
    margin: auto;
}
.intro-box .intro-title {
    text-align: center;
}

/*------ intro-box -----*/
.intro-box .title {
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 28px;
    color: #45bfdd;
}
.sub-title {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    color: #999999;
}
.intro-box .intro-content {
  padding: 30px 0 10px 0;
  overflow: hidden;
}
.intro-box .provide-item {
    width: 370px;
    padding: 15px;
}
.intro-box .ttt {
  width: 200px;
  padding: 0 20px 50px 20px;
}
.provide-box img {
    height:100px;
}
.intro-box .intro {
    font-family: "Microsoft YaHei", sans-serif;
    padding: 0 0 0 20px;
}
.intro-box .text-title {
  font-size: 18px;
  color: #333333;
}
.intro-box .text-ct {
  font-size: 14px;
  line-height: 22px;
  color: #777777;
  width: 240px;
}


/*------ footer -----*/
.footer {
  background: #f3f8fb;
}
.footer .float {
  width: 1200px;
  margin: auto;
  padding-top: 40px;
  position: relative;
}

.footer .phone_number_box {
  margin: 0 20px 0 0;
  float: left;
}
.footer  .phone_icon {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 33px;
  background: url("../images/phone_icon.png");
}
.footer .phone_number {
  display: inline-block;
  vertical-align: middle;
  height: 33px;
  line-height: 33px;
  color: #26b2c7;
  font-size: 28px;
}
.footer  .phone_name {
  display: inline-block;
  vertical-align: baseline;
  height: 33px;
  line-height: 33px;
  color: #26b2c7;
  font-size: 16px;
}
.footer  .msg {
  margin: 20px 0;
}
.footer .msg span {
  font-size: 14px;
  color: #999;
}
.footer .left {
  padding: 30px 0 0 15px;
}
.footer .right {
  padding: 0 120px;
}
.footer .right img{
  width: 150px; 
  height: 195px; 
}

.footer .go_top_btn {
  position: absolute;
  top: 0;
  right: 0;
}
.footer .go_top_btn .go_top {
  display: inline-block;
  width: 100px;
  height: 70px;
  background: url("../images/icon-top.png") no-repeat;
}
.footer .bar {
  text-align: center;
  height: 30px;
  background-color: #41afca;
}
.footer .bar span {
  color: #e9e5e5;
  font-size: 14px;
}
