.rukou{color: #ffffff;}
.msg_box_left .main {
  width: 950px;
  height: 400px;
  padding: 0 180px;
  margin: 0 auto;
  overflow: hidden;
}
.msg_box_left .main .words {
  width: 300px;
  margin: 50px 40px 50px 70px;
  text-align: center;
}

.msg_box_left .main .words .title {
  margin: 50px 0 20px 0;
  font-size: 30px;
  font-family: "Microsoft YaHei", sans-serif;
}
.msg_box_left .main .words .msg {
  font-size: 16px;
  font-family: "Microsoft YaHei", sans-serif;
  color: #959595;
}
.msg_box_left .main .images1 {
  margin: 60px 0 60px 80px;
}
.msg_box_left .main .images {
  margin: 50px 0 60px 0;
}
.msg_box_right {
  background: url("../images/fuwupingtai_bg.png");
}
.msg_box_right .main {
  width: 1000px;
  height: 460px;
  padding: 0 00px;
  margin: 0 auto;
  overflow: hidden;
}
.msg_box_right .main .words {
  width: 480px;
  margin: 50px 0 185px 100px;
}
.msg_box_right .main .words .title {
  margin: 90px 0 20px 0;
  font-size: 30px;
  font-family: "Microsoft YaHei", sans-serif;
}
.msg_box_right .main .words .msg {
	font-size: 16px;
	font-family: "Microsoft YaHei", sans-serif;
	color: #666666;
}
.msg_box_right .main .words .msg ul {
  width: 200px;
  padding: 0 0 0 50px;
}
.msg_box_right .main .words .msg ul li {
  padding: 0 0 0 45px;
  text-align: left;
  list-style-image: url("../images/fuwupingtai_list_img.png");
}
.msg_box_right .main .images {
  margin: 50px 0 60px 0;
}
.msg_box_left .main .erweima{
  width: 400px;
  margin: 50px 10px 0 300px;
}
.msg_box_left .main .erweima .ingbox{
  margin: 0 auto;
}
.msg_box_left .main .words .title1{
  margin: 30px 0 20px 0;
  font-size: 30px;
  font-family: "Microsoft YaHei", sans-serif;
}
.intro-box .msg2{
  flood-color: #737373;
  font-size: 14px;
  padding: 20px 0 20px 0;
}
.text-title{
  margin:20px 0 0 0;
  vertical-align: middle;
}
.tubiao{
  width: 100px;
  margin:0 70px;
}
.msg_box_right .main .words .title3 {
  margin: 5px 0 ;
  font-size: 20px;
  font-family: "Microsoft YaHei", sans-serif;
}
.imgcontrol{
  margin: 0 0 0 250px;
}

/*公用样式*/
.w1200{width: 1200px; margin: 0 auto; overflow: hidden;}
.title1{text-align: center; margin-top: 35px;}
a.more{display: block; width: 100px; height: 35px; line-height: 35px; text-align: center; background: #22b9a6; color: #fff; font-size: 14px; margin: 0 auto;}
/*公用样式*/

/*新闻*/
.bgc{
  background-color: #f9f9f9;
}
.news{
  padding: 40px 0;
}
.news .con{margin-top: 30px;}

.news .hot{float: left; width: 570px; overflow: hidden; font-size: 14px; }
.news .hot dt{}
.news .hot dd{}
.news .hot dd a{font-size: 22px; white-space: nowrap; overflow: hidden;}
.news .hot dd a:hover{color: #f45b39;}
.news .hot span{color: #999;}
.news .hot p{color: #666; margin: 5px 0 0;}

.news ul {margin-top: 0; overflow: hidden; width: 590px; margin-right: 10px; float:right;}

.news .news-list .text { width: 490px; float: right;}

.news .news-list li{overflow: hidden; border-top: 1px dashed #d4d4d4; padding-top: 20px; margin-top: 20px;}
.news .news-list li:first-child{border: 0; margin-top: 0; padding-top: 0;}
.news .news-list .date{width: 80px; height: 80px; float: left; background: #eee; text-align: center; color: #999;}
.news .news-list .date span{display: block; font-size: 48px; height: 62px; margin-top: -6px;}

.news .news-list .text{width: 480px; float: right; margin-right: 10px;}
.news .news-list .text a{font-size: 18px;}
.news .news-list .text a:hover{color: #f45b39;}
.news .news-list .text p{font-size: 14px; color: #666;}

.news .more{float: left; margin-top: 27px; background: #fff; color: #666; border: 1px solid #ccc;}
.news .more:hover{color: #fff; background: #22b9a6;}
.title5{
  font-size: 22px;
  color: #6f6f6f;
}
.titlep{
  margin: 5px 0 0 40px;
}
.rrr{
	font-size: 14px;
	color: #333333;
	width: 250px;
}
.yyy{
  font-size: 10px;
}